<center>
	<h1><u><b><u>Beautiful Locations</u></b></u></h1>
	<h3><b><u>List of Beautiful Places Around the World</u></b></h3>
	<button id="button1">Generate!!!</button>
</center>
<br><br>

		<b><u>Country Name</u></b>
		<b><u>Country Code</u></b>
		<b><u>City Name</u></b>

<br>
<br>
<br>
		<div id="0" style="position:relative;"></div>
		<div id="1" style="position:relative;"></div>
		<div id="2" style="position:relative;"></div>
		<div id="3" style="position:relative;"></div>
        <div id="4" style="position:relative;"></div>
        <div id="5" style="position:relative;"></div>
        <div id="6" style="position:relative;"></div>
        <div id="7" style="position:relative;"></div>
        <div id="8" style="position:relative;"></div>
        <div id="9" style="position:relative;"></div>
        <div id="10" style="position:relative;"></div>
        <div id="11" style="position:relative;"></div>
        <div id="12" style="position:relative;"></div>
        <div id="13" style="position:relative;"></div>
        <div id="14" style="position:relative;"></div>
        <div id="15" style="position:relative;"></div>
        <div id="16" style="position:relative;"></div>
        <div id="17" style="position:relative;"></div>
        <div id="18" style="position:relative;"></div>
        <div id="19" style="position:relative;"></div>
        <div id="20" style="position:relative;"></div>